.leaflet-container {
  height: 100%;

  * {
    transition: all 120ms ease-out;
  }
}

.map-container {
  height: calc(100vh - 2.5rem - 0.75rem);
}

.pin-label {
  inset: 0;
  position: absolute;
  height: 32px;
  width: 32px;
  font-size: 18px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
